# Git ignore file
# Untracked files
*.png
*.eps
*Plots/
*Plots*
11_MD3288*
analyseProfiles/
old/
forslagTilAndrea.ipynb


#Python files
*ipynb_checkpoints
*_pycache__/

# Different helper files
01_Lebedev/djxdjx*
02_COMBIp/timing_COMBIp/
*Output/
*Input/
